@import url("reset.css");

/* Fonts */
@font-face {
  font-family: "Arial";
  src: url("./fonts/arialmt.woff2") format("woff2"),
    url("./fonts/arialmt.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("./fonts/georgia.woff2") format("woff2"),
    url("./fonts/georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Veriable */
:root {
  --color-top-section: rgb(205, 205, 205);
  --color-primary-dark: #333333;
  --color-btn-purple: #8a33fd;
  --color-primary-light: #ffffff;
  --color-cards-dark: #2a2f2f;
  --color-cards-light: #7f7f7f;
  --color-details-dark: #3c4242;
  --color-product-light: #f6f6f6;
  --color-cart: #bebcbd;
}

/* Base */
body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: var(--color-top-section);
  margin: 0;
}
.main {
  overflow-x: clip;
  flex: 1 1 auto;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
[class*="__container"] {
  max-width: 80rem;
  margin: 0 auto;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container--indent {
  padding: 1.875rem 0.9375rem;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 35px;
}
.header__link {
  position: relative;
  transition: color 0.3s ease;
}

.header__link:hover {
  color: rgb(250, 250, 250);
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: rgb(241, 205, 179);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header__link:hover::after {
  opacity: 1;
}

/* Hero-Section */
.hero-section {
  /* padding: 15.625rem 0; */
  background: url("./img/start-screen-background.webp") no-repeat;
  background-size: cover;
  background-position: right center;
  margin-bottom: 5rem;
}
.hero-section__container {
  padding: 0 15px;
}
.text-container h1 {
  max-width: 19.375rem;
  color: rgb(255, 255, 255);
  font-family: "Georgia";
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0%;
  margin-bottom: 0.625rem;
}
.text-container p {
  color: rgb(205, 205, 205);
  line-height: 1.6;
  max-width: 28.75rem;
  margin-bottom: 2.625rem;
}
.text-container button {
  font-family: "Georgia";
  font-size: 1.0625rem;
  line-height: 1.3;
  letter-spacing: 6%;
  border-radius: 6.25rem;
  background: rgb(241, 205, 179);
  color: rgb(41, 41, 41);
  border: none;
  padding: 0.75rem 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.text-container button:hover {
  background-color: #e7966a;
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 2.8125rem;
  min-height: 51.25rem;
  align-items: center;
}

.content-container .text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-container .image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 12rem;
}

.content-container .image-container img {
  max-width: 100%;
  height: auto;
}

/* Abot-Shelter-Section */
.about-shelter-section {
  background-color: #ffffff;
  padding: 5rem 0.9375rem;
}

.about-shelter-section__container {
  max-width: 62.5rem;
  margin: 0 auto;
}

.section-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
}

.about-shelter-section__img {
  flex: 1;
}

.about-shelter-section__img img {
  max-width: 100%;
  height: auto;
}

.about-shelter-section__content {
  flex: 1;
}

.about-shelter-section__content h2 {
  max-width: 370px;
  font-family: "Georgia";
  font-size: 35px;
  color: rgb(84, 84, 84);
  margin-bottom: 25px;
}

.about-shelter-section__content p {
  color: rgb(76, 76, 76);
  line-height: 1.6;
}
.about-shelter-section__content p:not(:last-child) {
  margin-bottom: 1.5625rem;
}
